.landing-container{
    padding: 0 7%;
    overflow-x: hidden;
}
.landing_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:37px ;
    padding-left: 7%;
    padding-bottom: 10px;
}
.head{
    margin-top: 100px;
    margin-bottom: 60px;
}
.landing_head_left{
    width: 50%;
}

.landing-heaad-text{
    font-size:27px;
    margin-top:30px;
    
}

.landing-heaad-text span{
    font-size: 27px;
        color:#232234;
        font-weight:500;       
}
.landing_head_right{
    width: 50%;
}
.landing-btn-container{
    margin-top: 65px;
    font-size: 20px;
}
.login-btn{
background-color:#232234;
color: #fff;
border: none;
padding: 15px 45px;
border-radius: 5px;
text-decoration: none;
}

.login-btn:hover{
    background-color:#232234c6;
    transform: scale(0.97);
    text-decoration: none;
    color:#fff;
}
.register-btn{
    color: #232234;
    border: none;
    text-decoration: none;
    padding: 14px 44px;
    margin-left: 5px;
}

.register-btn:hover{
    color:#232234c6;
    border: 1px solid black;
    border-radius: 5px;
    transform: scale(0.97);
    
}
.right-img{
    height: 100%;
    width: 100%;
    transform: 
    translateX(18%);
}

.landing-text{
    
    font-size: 25px;
    text-align: center;
    margin: 40px 0;
}

/* Second Section */

.landing-second-section{
    background-color: #232234;
    color:white;
    padding: 5% 7% 2% 7%;
    font-size: 25px;
    

}
.landing-second-head{
    background-color: #232234;
    color: #F06827;
    
}
.landing-second-con{
    background-color: #232234;
    padding-left: 20px;
}
.landing-second{
    margin-bottom: 50px;
    margin-top: 20px;
}
/* for mobile */
@media only screen and (max-width: 480px){
    .landing_head{
        display: flex;
        flex-direction: column;
        font-size:17px ;
        padding-left: 0%;
        padding-bottom: 30px;
    }
    .head{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .head b{
        font-size: 25px;
    }
    .landing_head_left{
        width: 100%;
    }
    .landing-heaad-text{
        font-size:17px;
        margin-top:30px;
    }
    .landing-heaad-text span{
        font-size: 17px;
    }
    .landing_head_right{
        width: 100%;
    }
    .landing-btn-container{
        margin-top: 35px;
        font-size: 16px;
        margin-bottom: 18px;
    }
    .login-btn{
    padding: 8px 28px;
    border-radius: 5px;
    }
    .register-btn{
        padding: 7px 25px;
        margin-left: 20px;
        border-radius: 5px;
        border: 1px solid black;
    }
    .right-img{
        transform: 
        translateX(0%);
    }
    
    .landing-text{
        
        font-size: 17px;
        margin: 30px 0;
        text-align: justify;
    }
    /* Second Section */
    .landing-second-section{
        font-size: 17px;
        text-align: justify;
        
    }
    .landing-second{
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

/* ----------------------------------- */
/* Tab */
@media only screen and (min-width: 480px) and (max-width:950px){
    .landing-container{
        padding: 0 7% 0 7%;
    }
    .landing_head{
        justify-content:center;
        font-size:30px ;
        padding-left: 0%;
        padding-bottom: 10px;
    }
    .head{
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .landing-heaad-text{
        font-size:27px;
        margin-top:30px;
    }
    .landing-heaad-text span{
        font-size: 27px;
            color:#232234;
            font-weight:500;       
    }
    .landing_head_right{
        width: 50%;
    }
    .landing-btn-container{
        margin-top: 65px;
        font-size: 20px;
    }
    .login-btn{
    background-color:#232234;
    color: #fff;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    text-decoration: none;
    }
    
    .login-btn:hover{
        background-color:#232234c6;
        text-decoration: none;
        color:#fff;
    }
    .register-btn{
        color: #232234;
        border: none;
        background-color: transparent;
        padding: 15px 45px;
        margin-left: 20px;
        border-radius: 5px;
        text-decoration: none;
    }
    .register-btn:hover{
        background-color: rgb(228, 225, 225);
        color:#000;
        text-decoration: none;
    }
    .right-img{
        height: 100%;
        width: 115%;
        transform: 
        translateX(0%);
    }
    
    .landing-text{
        
        font-size: 25px;
        text-align: center;
        margin: 40px 0;
    }
    
    /* Second Section */
    
    .landing-second-section{
        background-color: #232234;
        color:white;
        padding: 5% 7% 2% 7%;
        font-size: 25px;
        
    
    }
    .landing-second-head{
        background-color: #232234;
        color: #F06827;
        
    }
    .landing-second-con{
        background-color: #232234;
        padding-left: 20px;
    }
    .landing-second{
        margin-bottom: 50px;
        margin-top: 20px;
    }
}