.post-display{
    border: 2px solid black;
    /* width: 55%; */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;

}

.post-display-head {
    display: flex;
}
.post-display-profile img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.post-display-heading {
    /* border: 2px solid black; */
    margin: 0px 15px;
}

.post-display-heading-college {
    margin-top: -12px;
    color: #333;
    font-size: 0.8rem;
    font-weight: 600;
    /* border: 2px solid red; */
}

.post-display-heading-time {
    margin-top: -12px;
    margin-left: 9px;
    color: #333;
    font-size: 0.8rem;
    /* border: 2px solid black; */
}

.post-display-bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.post-display-bottom img{
    margin: 5px;
}

.post-display-content {
    padding-bottom: 10px;
    font-weight: 500;
 }


.post-display-image img{
    height: 30%;
    width: 95%;
    /* border-radius: 5px; */
}





/* Model */
/* Post Lage View Model */
/* #################### */
.Post-Big-Model-container{
    z-index: 10;
    position: fixed;
    overflow-y: hidden;
    inset: 0;
    display: flex;
    justify-content: center;
}

/* fixed inset-0 z-10 overflow-y-auto */
.Post-Big-Model-Close{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d9e;
    display: flex;
    justify-content: center;
    position: relative;
    
}

.post-display-bottom img{
cursor: pointer;
}

.Post-Big-Model{
    min-height:80%;
    width: 70%;
    background-color: #fff;
    display: flex;
    position: absolute;
    z-index: 11;
    margin: 5.5% 0 0 0;
    border-radius: 10px;
}

.Post-Big-Model-Left{
    width: 50%;
    padding: 5px;
}

.Post-Big-Model-Right{
    width: 50%;
    padding: 5px;
}

.Post-Big-Model-Left img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.Post-Big-Pro{
    display: flex;
    flex-direction: row;
    margin: 15px 0 0 0;
    
}

.Post-Big-Pro img{
    width: 10%;
    margin: 5px 5px 5px 0px;
    height: 80%;
    border-radius: 50%;
}
.Cancel-Icon-Container{
    margin:10px 15px 0 0;
    cursor:pointer;
}

.Post-Big-Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Post-Big-Title1{
font-weight: 700;
font-size: 15px;
}
.Post-Big-Title2{
    font-weight: 400;
    font-size: 12px;
}
.Cancel-Icon-Container:hover{
    color: #838181;
}

.Big-Profile-Cancel{
    height: fit-content;
}

.fa-lg{
    
}

.Post-Big-Description{
    width: 96%;
    font-size: 13.5px;
    font-weight: 500;
    margin-right: 10px;
    color: #555555;

}
.Post-Big-Line{
    border: 1px solid rgba(128, 128, 128, 0.202);
    margin:10px 0 10px 0;
    width: 98%;
}
.Post-Big-Comment{
    /* border: 1px solid red; */
    padding-right: 0px;
    font-size: 16px;
}
.Post-Comment-About{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    padding: 0px 10px 0px 0px;
    margin-bottom: 20px;
    font-size: 12px;
}

.Comment-Left{
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
    width: 6%;
    
}
.Comment-Left img{
    width: 100%;
    /* height: 100%; */
    border-radius: 50%;
}
.Comment-Right-User-Name{
    float: left;
    font-weight: 700;
    margin-right: 5px;
    font-size: 14px;
}
.Right-Comment{
    text-align:justify;
    /* font-size: 25px; */
    font-size: 14px;
    /* font-size: 500px; */
    font-weight: 500;
    margin-right: 3%;
    width: 97%;
    color: #676767e0;

}

.Comment-Right{
    width: 95%;
}
.Comment-Down-Other{
    font-weight: 500;
    font-size: 13px;
    color:#838181;
    margin-right: 5%;
}
.Comment-Down-Other1{
    cursor: pointer;
    /* font-size: 13px; */
}
.Comment-Down-Other1:hover{
color: black;    
}
.Comment-Right-View-Reply{
    font-weight: 500;
    font-size: 13px;
    color:#838181;
    margin-left:3%;
    margin-top: 3px;
    cursor: pointer;
}
.Comment-Right-View-Reply:hover{
    color: black;
}


/* Add comment */
.Post-Big-Comment-Container{
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    width: 48%;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}
.Post-Big-Comment-Icons{
    font-size: 14px;
    margin-top: 5px;
    color:#838181;
}
.Post-Big-Comment-Icons span{
    font-weight: 500;
}

.Comment-Add-Section{
    background-color: #fff;
    border-radius: 10px;
 
}



/* ############################################################## */
/* ############################################################## */
/* ############################################################## */
/* ############################################################## */
.Show-Comment-Add-Btn{
    
}
.Hide-Comment-Add-Btn{
    display: none;
}

.Show-Comment-View-Btn{
/* border: 1px solid black; */
width: 95%;
margin: 5px 0px 0px 10px;
}

.Hide-Comment-View-Btn{
    display: none;
}

.Scrollbar-height{
    height: 59vh;
}