.Navbar {
    display: flex;
    justify-content: space-around;
    background-color: #232234;
    color: white;
    overflow: hidden;
    position: fixed;
    /* top: 0; */
    width: 100%;
    z-index: 10000000;
}

.navbar-center {
    display: flex;
    /* border: 2px solid red; */
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    /* border: 2px solid ; */
    margin: 20px;
    /* padding: 0px 20px; */
    font-size: 1.2rem;
    transition: all 0.1s linear;
}

.navbar-link:hover {
    color: #cfcdcc;
    /* border-bottom: 3px solid white; */
}

.navbar-highlight {
    background-color: white;
    height: 2px;
    width: 80%;
    margin: auto;
    /* transition: all 0.3s linear; */
}

.Navbar-left {
    /* margin: auto; */
    position: relative;
    padding-top: 5px;
    /* border: 2px solid white; */
    left: -70px;
}

.Navbar-left img {
    height: 60px;
    /* border: 2px solid white; */
}

.navabar-right {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.navabr-button {
    margin: auto;
    padding: 0px 30px;
}

.navabr-button button {
    color: white;
    background-color: #232234;
    border: 2px solid #fff;
    padding: 4px;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.2s linear;
}
.cr-ptr:hover{
    cursor: pointer;
}

.navabr-button button:hover {
    background-color: #fff;
    color: #232234;
    /* border: 2px solid #0f4d25; */
}

.navabar-icon {
    margin: auto;
    /* padding: 0px 30px 0px 10px; */
}

.navbar-profile {
    margin: auto;
}

.navbar-profile img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.navabar-icon:hover {
    color: #cfcdcc;
}