.admin-overall {
    border: 2px solid #232234;
    border-radius: 10px;
    margin: 20px;
}
.admin-top {
    border: 2px solid #232234;
    text-align: center;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    /* border-radius: 5px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px ;
    background-color: #232234;
    color: #fff;
}
.admin-bottom {
    padding: 10px;
}
.admin-bottom-div{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    padding-top: 10px;
    margin-top: 10px;
}
.admin-bottom-image {
    margin: 0px 10px;
}
.admin-bottom-image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.admin-bottom-content {
    /* border: 2px solid red; */
    width: 100%;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 500;
}
.admin-position{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: gray;
}

.admin-position span {
    font-style: italic;
}